<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhachSan.Properties.Settings.QuanlikhachsanConnectionString"
            connectionString="Data Source=MSI\SQLEXPRESS01;Initial Catalog=Quanlikhachsan;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKhachSan.Properties.Settings.QuanlikhachsanConnectionString1"
            connectionString="Data Source=MSI\SQLEXPRESS01;Initial Catalog=Quanlikhachsan;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>