create database Quanlikhachsan
go
USE [Quanlikhachsan]
GO
/****** Object:  Table [dbo].[ChiTietDatPhong]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatPhong](
	[MaDatPhongCT] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDatPhong] [int] NULL,
	[MaPhong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[NgayCheckInThucTe] [datetime] NULL,
	[NgayCheckOutThucTe] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhongCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaCTDV] [int] IDENTITY(1,1) NOT NULL,
	[MaDichVu] [int] NULL,
	[MaDatPhongCT] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGiaThoiDiemBan] [decimal](18, 2) NULL,
	[ThoiDiemSuDung] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCTDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDatPhong] [int] NULL,
	[NgayThanhToan] [datetime] NULL,
	[TongTienPhong] [decimal](18, 2) NULL,
	[TongTienDichVu] [decimal](18, 2) NULL,
	[PhuPhi] [decimal](18, 2) NULL,
	[TongTienThanhToan]  AS (([TongTienPhong]+[TongTienDichVu])+[PhuPhi]),
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[GioiTinh] [bit] NULL,
	[CCCD] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NULL,
	[GiaTheoNgay] [decimal](18, 2) NULL,
	[SoNguoiToiDa] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[GioiTinh] [bit] NULL,
	[Sdt] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[MaPhieuDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayNhan] [datetime] NULL,
	[NgayTra] [datetime] NULL,
	[TrangThaiPhieu] [bit] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](100) NULL,
	[MaLoaiPhong] [int] NULL,
	[Tang] [int] NULL,
	[TrangThai] [bit] NULL,
	[MoTa] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 29/04/2026 4:49:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[TenDangNhap] [varchar](50) NULL,
	[MatKhau] [varchar](255) NULL,
	[VaiTro] [nvarchar](50) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDatPhong] ON 

INSERT [dbo].[ChiTietDatPhong] ([MaDatPhongCT], [MaPhieuDatPhong], [MaPhong], [DonGia], [NgayCheckInThucTe], [NgayCheckOutThucTe]) VALUES (2, 1, 4, CAST(500000.00 AS Decimal(18, 2)), CAST(N'2026-05-01T14:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietDatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] ON 

INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDichVu], [MaDatPhongCT], [SoLuong], [DonGiaThoiDiemBan], [ThoiDiemSuDung]) VALUES (2, 1, 2, 2, CAST(15000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T16:47:22.657' AS DateTime))
INSERT [dbo].[ChiTietDichVu] ([MaCTDV], [MaDichVu], [MaDatPhongCT], [SoLuong], [DonGiaThoiDiemBan], [ThoiDiemSuDung]) VALUES (3, 2, 2, 1, CAST(20000.00 AS Decimal(18, 2)), CAST(N'2026-04-29T16:47:22.657' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [DonViTinh], [TrangThai]) VALUES (1, N'Nước suối', CAST(15000.00 AS Decimal(18, 2)), N'Chai', 1)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [DonViTinh], [TrangThai]) VALUES (2, N'Mì ly', CAST(20000.00 AS Decimal(18, 2)), N'Ly', 1)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [DonViTinh], [TrangThai]) VALUES (3, N'Giặt ủi', CAST(50000.00 AS Decimal(18, 2)), N'Kg', 1)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaPhieuDatPhong], [NgayThanhToan], [TongTienPhong], [TongTienDichVu], [PhuPhi]) VALUES (1, 1, CAST(N'2026-05-03T12:00:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [GioiTinh], [CCCD], [Email]) VALUES (1, N'Nguyễn Văn A', N'0901234567', 1, N'079123456789', N'vana@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [GioiTinh], [CCCD], [Email]) VALUES (2, N'Lê Thị B', N'0912345678', 0, N'079987654321', N'thib@yahoo.com')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [GioiTinh], [CCCD], [Email]) VALUES (3, N'Trần Minh Sĩ', N'0988888888', 1, N'079000111222', N'minhsi@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaTheoNgay], [SoNguoiToiDa], [MoTa]) VALUES (4, N'Phòng Đơn', CAST(300000.00 AS Decimal(18, 2)), 1, N'Phòng cơ bản, 1 giường đơn')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaTheoNgay], [SoNguoiToiDa], [MoTa]) VALUES (5, N'Phòng Đôi', CAST(500000.00 AS Decimal(18, 2)), 2, N'Phòng rộng, 1 giường đôi lớn')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [GiaTheoNgay], [SoNguoiToiDa], [MoTa]) VALUES (6, N'Phòng Gia Đình', CAST(850000.00 AS Decimal(18, 2)), 4, N'2 giường đôi, view biển')
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GioiTinh], [Sdt], [Email], [ChucVu], [TrangThai]) VALUES (1, N'Nhân viên A', 0, N'0333444555', N'letan1@hotel.com', N'Lễ Tân', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [GioiTinh], [Sdt], [Email], [ChucVu], [TrangThai]) VALUES (2, N'Quản lý', 1, N'0999000111', N'admin@hotel.com', N'Quản Lý', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDatPhong] ON 

INSERT [dbo].[PhieuDatPhong] ([MaPhieuDatPhong], [MaKH], [MaNV], [NgayDat], [NgayNhan], [NgayTra], [TrangThaiPhieu], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-04-29T16:42:31.780' AS DateTime), CAST(N'2026-05-01T00:00:00.000' AS DateTime), CAST(N'2026-05-03T00:00:00.000' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[PhieuDatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [Tang], [TrangThai], [MoTa], [GhiChu]) VALUES (2, N'P101', 4, 1, 0, N'Gần cầu thang', NULL)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [Tang], [TrangThai], [MoTa], [GhiChu]) VALUES (3, N'P102', 4, 1, 0, N'Yên tĩnh', NULL)
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [MaLoaiPhong], [Tang], [TrangThai], [MoTa], [GhiChu]) VALUES (4, N'P201', 5, 2, 1, N'Có ban công', NULL)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [VaiTro], [NgayTao], [TrangThai]) VALUES (1, 1, N'nhanvien1', N'123456', N'Nhân Viên', CAST(N'2026-04-29T16:42:31.777' AS DateTime), 1)
INSERT [dbo].[TaiKhoan] ([MaTK], [MaNV], [TenDangNhap], [MatKhau], [VaiTro], [NgayTao], [TrangThai]) VALUES (2, 2, N'quanly', N'quanly123456', N'Quản Lý', CAST(N'2026-04-29T16:42:31.777' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AABF13466D]    Script Date: 29/04/2026 4:49:30 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TaiKhoan__2725D70B0C0477B8]    Script Date: 29/04/2026 4:49:30 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC052AEE3D0]    Script Date: 29/04/2026 4:49:30 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDichVu] ADD  DEFAULT (getdate()) FOR [ThoiDiemSuDung]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTDP_PDP] FOREIGN KEY([MaPhieuDatPhong])
REFERENCES [dbo].[PhieuDatPhong] ([MaPhieuDatPhong])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_CTDP_PDP]
GO
ALTER TABLE [dbo].[ChiTietDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CTDP_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietDatPhong] CHECK CONSTRAINT [FK_CTDP_Phong]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_CTDP] FOREIGN KEY([MaDatPhongCT])
REFERENCES [dbo].[ChiTietDatPhong] ([MaDatPhongCT])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_CTDV_CTDP]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_CTDV_DV] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_CTDV_DV]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HD_PDP] FOREIGN KEY([MaPhieuDatPhong])
REFERENCES [dbo].[PhieuDatPhong] ([MaPhieuDatPhong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HD_PDP]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PDP_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PDP_KH]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PDP_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PDP_NV]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TK_NV]
GO
select * from ChiTietDatPhong
select*from PhieuDatPhong
select MaPhieuDatPhong, TrangThaiPhieu
from PhieuDatPhong
INSERT INTO PhieuDatPhong
(
    MaKH,
    MaNV,
    NgayDat,
    NgayNhan,
    NgayTra,
    TrangThaiPhieu,
    GhiChu
)
VALUES
(
    2,
    1,
    GETDATE(),
    '2026-05-10',
    '2026-05-12',
    1,
    N'Khách đặt phòng test'
)